.adjustments-001 {
  text-align: left;
  padding: 50px 0 30px 0;
}

.adjustments-002 {
  .heading-2 {
    margin-bottom: 20px;
  }
  .popup-body {
    .input.disabled {
      margin-bottom: 50px;
      margin-top: 20px;
    }
    .buttons {
      text-align: center;
      font-weight: bold;
      margin: 60px 0 20px;
      font-size: 1.2rem;
      .violet-button {
        width: 50%;
        margin: 0 auto 30px;
      }
    }
  }
}

.adjustments-003 {
  .text {
    margin: 32px 0 230px 80px;
  }
  .buttons {
    margin-left: 80px;
    .violet-button {
      float: left;
    }
    .skip {
      float: right;
      line-height: 56px;
      font-weight: bold;
      font-size: 1.1428rem;
    }
  }
}

.adjustments-004 {
  .form {
    .row {
      display: inline-block;
      margin-right: 40px;
      &:last-child {
        margin-right: 0;
      }
      input[type="radio"] + label {
        padding-left: 23px;
      }
    }
  }
}
