.event {
  display: inline-block;
  margin-right: 8px;
  box-shadow: -3px 1px 5px 1px rgba(0, 0, 0, 0.3);
  width: 234px;
  height: 312px;
  border-radius: 2px;
  overflow: hidden;
  .picture {
    width: 100%;
    height: 216px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    color: $white-color;
    padding: 8px 12px;
    text-shadow: 1px 1px 5px #000000;
    &:before {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      content: '';
      width: 102px;
      height: 43px;
      background-repeat: no-repeat;
      background-position: left top;
      background-size: contain;
      z-index: 0;
      mask: url('../img/event/cloud-mask.svg') no-repeat left top;
      -webkit-mask: url('../img/event/cloud-mask.svg') no-repeat left top;
      mask-size: contain;
      -webkit-mask-size: contain;
    }
    a {
      color: inherit;
      text-decoration: none;
    }
    .event-category {
      font-size: 1.286rem;
      font-weight: 500;
      padding-bottom: 17px;
      position: relative;
      text-shadow: none;
    }
    .event-title {
      font-size: 2.0rem;
      font-weight: 500;
      padding-top: 5px;
    }
    .author-avatar {
      position: absolute;
      bottom: -28px;
      right: 16px;
      width: 56px;
      height: 56px;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &.video .picture:before {
    background-color: $green-color;

  }
  .details {
    height: 96px;
    background-color: $white-color;
    color: $violet-color;
    padding: 12px;
    line-height: 25px;
    .price-author {
      font-size: 1.214rem;
      font-weight: bold;
    }
  }
}
