.event-proposals {
  .proposals-wrapper {
    padding-top: 131px;
    background-color: $pink-color;
    position: relative;
    .curtain {
      width: 100%;
      position: absolute;
      left: 0;
      top: -1px;
    }
    .proposals-section {
      overflow: hidden;
      padding: 0 0 50px 8px;
      width: calc(50% + 492.5px);
      float: right;
      .proposals {
        padding-top: 45px;
        white-space: nowrap;
        &.top {
          margin-bottom: 55px;
          .proposal {
            width: 314px;
          }
        }
      }
      &.single-category {
        @extend .wrapper;
        float: none;
        padding-left: 17px;
        .proposals {
          white-space: initial;
          display: block;
          .proposal {
            float: left;
            display: block;
            margin-bottom: 22px;
          }
        }
      }
    }
  }
}
