.event-proposals {
  .proposals-wrapper {
    .proposal-section {
      position: relative;
      .proposal-details {
        padding-top: 45px;
        .heading-2 {
          padding-bottom: 16px;
        }
        .info {
          .text {
            line-height: 28px;
          }
        }
        .description {
          padding-top: 20px;
        }
        .profile-photo {
          float: left;
          .picture {
            @extend .normalize-bg;
            width: 220px;
            height: 220px;
            border-radius: 50%;
            border-width: 2px;
            border-style: solid;
          }
        }
        .profile-details {
          float: right;
          width: calc(100% - 320px);
        }
      }
      .hr {
        margin: 25px 0;
        border-top: 1px solid rgba(0,0,0,0.1);
      }
      .buttons {
        padding: 30px 0 60px;
        .cancel,
        .violet-button {
          float: right;
          line-height: 56px;
        }
        .cancel {
          font-weight: bold;
          font-size: 1.1428rem;
          margin-right: 10px;
        }
      }
    }
  }
}
