.event-view {
  .cover {
    width: 100%;
    height: 25vw;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    .spot {
      position: absolute;
      left: 0;
      top: 0;
      color: $white-color;
      font-size: 1.4rem;
      background-position: left top;
      background-repeat: no-repeat;
      background-size: contain;
      width: 378px;
      height: 111px;
      text-align: center;
      padding-top: 30px;
      font-weight: bold;
      &.red {
        background-image: url('../img/icons/red-spot.png');
      }
      &.green {
        background-image: url('../img/icons/green-spot.png');
      }
    }
    .text,
    .title {
      color: $white-color;
      font-size: 56px;
      font-weight: bold;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: calc(50% - 468px);
      text-shadow: 1px 1px 7px rgba(0,0,0,0.5);
    }
    .text {
      font-size: 1.1428rem;
      top: calc(50% - 60px);
      font-weight: normal;
      letter-spacing: 0.5px;
    }
    .actions-wrapper {
      letter-spacing: 0.5px;
      font-size: 1.1428rem;
      position: absolute;
      background-color: $white-color;
      left: calc(50% - 502.5px);
      bottom: -182.5px;
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
      color: $violet-color;
      border-radius: 2px;
      .inner-wrapper {
        padding: 46px 64px 44px 35px;
        position: relative;
        .event-info {
          width: 512px;
          float: left;
          .description {
            padding-top: 20px;
          }
          .buttons {
            padding-top: 33px;
            .accept {
              float: right;
            }
            .decline {
              float: left;
              line-height: 52px;
            }
          }
        }
        .user-avatar {
          position: absolute;
          top: -40px;
          right: 60px;;
          width: 80px;
          height: 80px;
          border: 2px solid $violet-color;
          border-radius: 50%;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          .star {
            margin: 50px 0 0 47px;
          }
        }
        .user-info {
          margin-left: 103px;
          float: left;
          .ttl {
            font-weight: 500;
            font-size: 1.4285rem;
            padding-bottom: 20px;
          }
          .more-info {
            color: $violet-color;
            border-radius: 100px;
            border: 1px solid $violet-color;
            width: 236px;
            height: 40px;
            line-height: 40px;
            white-space: nowrap;
            margin-top: 40px;
            transition: all 0.3s 0.0s;
            &:hover {
              text-decoration: none;
              color: $white-color;
              background-color: $violet-color;
            }
          }
        }
      }
    }
  }
  .details-wrapper {
    margin-top: 228px;
    padding-bottom: 60px;
    .ttl {
      font-weight: 500;
      font-size: 1.4285rem;
      padding-bottom: 23px;
    }
    .event-date {
      width: 620px;
      float: left;
      .heading-2 {
        padding-bottom: 16px;
      }
      .description {
        font-size: 1.1428rem;
      }
    }
    .event-details {
      float: left;
      margin-left: 30px;
      font-weight: bold;
      line-height: 26px;
      span {
        display: block;
        font-size: 1.1428rem;
      }
    }
  }
}
