* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 14px;
  font-family: 'SofiaPro';
}

.hidden {
  display: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear:after {
  clear: both;
  content: '';
  display: block;
}

.no-bg {
  background: none !important;
}

.no-margin {
  margin: 0 !important;
}

.no-wrap {
  white-space: nowrap;
}

.no-padding {
  padding: 0 !important;
}

.w0 {
  width: 0 !important;
}

.w50p {
  width: 50% !important;
}

.w100p {
  width: 100% !important;
}

.h0 {
  height: 0;
}

.h100p {
  height: 100%;
}

.text {
  font-size: 1rem;
  line-height: 24px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-italic {
  font-style: italic;
}

.text-underline {
  text-decoration: underline;
}

.text-stroke {
  text-decoration: line-through;
}

.text-small {
  font-size: 0.95rem;
}

.text-bold {
  font-weight: bold;
}

.fw-100 {
  font-weight: 100;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.heading-2 {
  font-size: 2.0rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: -0.3px;
}

.heading-3 {
  font-size: 1.714rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: -0.3px;
}

.no-scroll {
  overflow: hidden;
}

.hr {
  width: 100%;
  height: 1px;
  border-top: 1px solid #000000;
}

.input {
  height: 42px;
  border: none;
  background-color: #ffffff;
  outline: none;
  padding: 0 20px;
}

::placeholder {
  color: rgba(68, 3, 129, 0.4);
}

.wrapper {
  width: 1005px;
  margin: 0 auto;
}

.btn {
  display: block;
  background: none;
  border: none;
  outline: none;
  color: #000000;
  height: 100%;
  width: 100%;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  padding: 0 15px;
  user-select: none;
}

.popup-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: -1;
  transition: all 0.3s 0.0s;
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  .popup {
    background-color: $white-color;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    position: relative;
    margin-left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    .close {
      position: absolute;
      display: block;
      right: 12px;
      top: -16px;
      width: 32px;
      height: 32px;
      color: $violet-color;
      border-radius: 50%;
      background-color: $white-color;
      overflow: hidden;
      border: 1px solid $violet-color;
      cursor: pointer;
      &:after {
        transition: all 0.3s 0.0s;
        content: '\f00d';
        font-family: 'Fontawesome';
        display: block;
        font-style: normal;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 30px;
        position: absolute;
      }
      &:hover {
        &:after {
          transform: rotate(360deg);
        }
      }
    }
  }
  &.opened {
    opacity: 1;
    z-index: 100;
  }
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
  + label {
    position: relative;
    padding-left: 30px;
    display: inline-block;
    line-height: 1.3;
    &:before {
      width: 18px;
      height: 18px;
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background: url('../img/icons/checkbox-unchecked.png') no-repeat center center/contain;
    }
  }
  &:checked {
    + label:before {
      background-image: url('../img/icons/checkbox-checked.png');
    }
  }
}

input[type="radio"] {
  + label {
    &:before {
      background: url('../img/icons/radio-unchecked.png') no-repeat center center/contain;
    }
  }
  &:checked {
    + label:before {
      background-image: url('../img/icons/radio-checked.png');
    }
  }
}

.sidebar {
  width: 300px;
  float: left;
  .heading-2 {
    padding-bottom: 6px;
  }
}
.content {
  width: calc(100% - 320px);
  float: right;
  font-size: 1.1428rem;
}
