header {
  display: block;
  width: 100%;
  height: 40px;
  .header-wrapper {
    width: 100%;
    height: 100%;
    color: $violet-color;
    .logo {
      margin-left: 26px;
      width: 170px;
      height: 100%;
      a {
        background: url('../img/logo-desktop.png') no-repeat center center;
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    .add-event {
      padding-right: 10px;
      .btn {
        background-color: $red-color;
        font-size: 13px;
        font-weight: 500;
        color: #ffffff;
        margin: 8px 0;
        height: 24px;
        line-height: 23px;
        border-radius: 12px;
        position: relative;
        padding: 0 23px 0 13px;
        &:after {
          position: absolute;
          right: 9px;
          display: block;
          content: '+';
          top: 1px;
          font-size: 1.5rem;
          font-weight: 300;
        }
      }
    }
    .menu {
      margin-right: 32px;
      height: 100%;
      .menu-item {
        color: $violet-color;
        font-size: 0.9rem;
        font-weight: normal;
        display: inline-block;
        height: 100%;
        vertical-align: top;
        line-height: 40px;
        margin: 0 10px;
        a {
          text-decoration: none;
          display: block;
          width: 100%;
          height: 100%;
          &.active,
          &:hover {
            border-bottom: 3px solid $blue-color;
          }
          &[class^="ico-"] {
            position: relative;
            padding-right: 16px;
            &:after {
              width: 14px;
              height: 14px;
              border-radius: 50%;
              background-color: $violet-color;
              position: absolute;
              right: 0;
              top: 12px;
              display: block;
              font-family: 'Fontawesome';
              content: '';
              line-height: 14px;
              font-size: 8px;
              color: $white-color;
              text-align: center;
            }
          }
          &.ico-search:after {
            content: '\f002';
          }
        }
      }
    }
  }
}
