.home {
  .cover {
    width: 100%;
    height: 25vw;
    position: relative;
    background: url('../img/home/cover.jpeg') no-repeat center center/cover;
    .title {
      color: $white-color;
      font-size: 56px;
      font-weight: bold;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: calc(50% - 468px);
    }
  }
  .events-wrapper {
    padding-top: 131px;
    background: $blue-color url('../img/home/bg-01.png') no-repeat center -355px;
    .events-section {
      overflow: hidden;
      padding: 0 0 50px 8px;
      width: calc(50% + 492.5px);
      float: right;
      .section-title {
        color: $violet-color;
        font-size: 1.428rem;
        font-weight: bold;
        padding: 0 0 28px 5px;
        margin: 0;
        a {
          text-decoration: none;
          font-size: 1.1428rem;
          font-weight: 500;
          margin-right: 55px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .events {
        white-space: nowrap;
        &.top {
          margin-bottom: 55px;
          .event {
            width: 314px;
          }
        }
      }
    }
  }
}
