.profile-settings {
  color: $violet-color;
  padding: 60px 0 40px 0;
  .content {
    .settings-section {
      margin-bottom: 48px;
      .heading-2 {
        padding-bottom: 16px;
      }
      .description {
        letter-spacing: 0.5px;
        padding-bottom: 12px;
        line-height: 1.5;
      }
      .table {
        padding-top: 0;
      }
    }
  }
}
