.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  letter-spacing: 1.0px;
  display: inline-block;
  font-size: 20px;
  &:after {
    clear: both;
    content: '';
    display: block;
  }
  .progress {
    display: none;
  }
  > span {
    display: block;
    position: relative;
    cursor: pointer;
    float: right;
    &:before {
      display: block;
      content: '\F006';
      font-family: Fontawesome;
      letter-spacing: 1px;
    }
    &.fix, &:hover {
      ~ span:before, &:before {
        content: "\F005";
      }
    }
  }
  &.percentage {
    pointer-events: none;
    position: relative;
    direction: ltr;
    display: inline-block;
    .progress {
      display: block;
      letter-spacing: 1.0px;
      position: absolute;
      top: -0.4px;
      left: 0.3px;
      direction: ltr;
      overflow: hidden;
      font-family: 'Fontawesome';
      &:before {
        content: "\F005\F005\F005\F005\F005";
      }
    }
  }
}
