.registration-switch {
  .register-options {
    margin-top: 56px;
    margin-bottom: 57px;
    .btn {
      margin: 0 auto 17.3px;
      width: 300px;
      height: 56px;
      line-height: 52px;
      border-radius: 100px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
      border-style: solid;
      border-width: 1px;
      border-image-source: linear-gradient(to left, #ffffff, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0));
      color: $white-color;
      font-size: 1.1428rem;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 0.3px;
      position: relative;
      &:before {
        display: block;
        position: absolute;
        left: 24px;
        top: 0;
        width: 50px;
        height: 100%;
        text-align: left;
        line-height: 53px;
        font-size: 1.9rem;
        content: '';
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
      }
      &:hover {
       text-decoration: none;
       box-shadow: 0px 0px 12px 6px rgba(64, 128, 255, 0.3);
      }
      &.facebook {
        background-color: #3b579d;
        &:before {
          content: 'f';
        }
      }
      &.google {
        background-color: $white-color;
        color: $black-color;
        &:before {
          background-image: url('../img/icons/google.png');
          width: 22px;
          left: 18px;
        }
      }
      &.email {
        background-color: $violet-color;
      }
    }
  }
  .hr {
    border-color: $gray-color;
    margin-bottom: 17px;
  }
  .already-registered {
    span {
      opacity: 0.5;
      color: $violet-color;
    }
    a {
      font-size: 1.07rem;
    }
  }
}
