.registration-email {
  .register-form {
    padding: 40px 81px 0 81px;
    .column {
      width: 298px;
      float: left;
      &:last-child {
        float: right;
      }
      .form-controll {
        height: 48px;
        margin: 0 0 26px;
        .rd-container {
          position: relative !important;
          left: 0 !important;
          top: 0 !important;
          z-index: 100;
          width: 100%;
          .rd-days {
            margin: 0 auto;
            width: 80%;
          }
        }
        .input {
          font-family: 'SofiaPro';
          width: 100%;
          height: 28px;
          letter-spacing: 0.5px;
          font-size: 1.1428rem;
          padding-left: 0;
          padding-right: 0;
          border-bottom: solid 1px rgba(68, 3, 129, 0.3);
          color: $violet-color;
        }
      }
    }
    .email-subscribe {
      span {
        font-size: 1.1428rem;
      }
      .left {
        padding: 18px 0;
        label {
          user-select: none;
        }
      }
      input[type="checkbox"] {
        margin: -4px 10px 0 0;
      }
      .violet-button {
        margin-right: -80px;
      }
    }
  }
}
