.registration-email {
  .register-form {
    padding: 40px 81px 0 81px;
    .column {
      width: 298px;
      float: left;
      &:last-child {
        float: right;
      }
      .form-controll {
        height: 48px;
        margin: 0 0 26px;
        .input {
          font-family: 'SofiaPro';
          width: 100%;
          height: 28px;
          letter-spacing: 0.5px;
          font-size: 1.1428rem;
          padding-left: 0;
          padding-right: 0;
          border-bottom: solid 1px rgba(68, 3, 129, 0.3);
          color: $violet-color;
        }
      }
    }
    .email-subscribe {
      span {
        font-size: 1.1428rem;
      }
      .left {
        padding: 18px 0;
        label {
          user-select: none;
        }
      }
      input[type="checkbox"] {
        margin: -4px 10px 0 0;
      }
      .btn {
        color: $white-color;
        font-weight: 500;
        font-size: 1.1428rem;
        background-color: $violet-color;
        width: 220px;
        height: 55px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
        border-radius: 100px;
        border: none;
        margin-right: -80px;
      }
    }
  }
}
