.dropdown-item {
  line-height: 1.33;
  letter-spacing: 0.5px;
  color: $violet-color;
  font-weight: normal;
  font-size: 1.07rem;
  border: none;
}
.search-wrapper {
  position: absolute;
  height: 153px;
  background-color: $white-color;
  left: calc(50% - 502.5px);
  bottom: -76.5px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  color: $violet-color;
  .label {
    padding: 20px 0 10px 34px;
    letter-spacing: 0.3px;
    font-size: 1.142rem;
    font-weight: bold;
  }
  .filter-wrapper {
    background-color: $light-gray-color;
    color: $violet-color;
    height: 56px;
    line-height: 52px;
    border-radius: 100px;
    width: 959px;
    margin-left: 23px;
    border: solid 1px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: 500;
    font-size: 1.142rem;
    .filter-item {
      flex: 1;
      height: 100%;
      border-right: 1px solid $gray-color;
      cursor: pointer;
      position: relative;
      &:first-child {
        padding-left: 30px;
      }
      &.category,
      &.from,
      &.to,
      &.date {
        i {
          padding-top: 16px;
          padding-right: 16px;
          float: right;
          font-size: 1.6rem;
          position: relative;
        }
      }
      &.category {
        .dropdown {
          background-color: $white-color;
          box-shadow: 0px 11px 11px 3px rgba(0, 0, 0, 0.24);
          opacity: 0;
          position: absolute;
          width: 100%;
          left: 0;
          top: 100%;
          z-index: -1;
          // transition: all 0.3s 0.0s;
          border-radius: 2px;
          .item {
            padding: 15px 5px 15px 28px;
            @extend .dropdown-item;
            a {
              text-decoration: none;
            }
            &:hover {
              background-color: $light-gray-color;
            }
          }
        }
        i {
          font-size: 1.2rem;
          &:before {
            transition: all 0.5s 0.0s;
            position: absolute;
            text-align: center;
            display: block;
            height: 23px;
            width: 21px;
            right: 10px;
            top: 18px;
          }
        }
        &.expanded {
          background-color: $white-color;
          box-shadow: 0px 6px 12px 1px rgba(0, 0, 0, 0.24);
          border-top: 1px solid $gray-color;
          border-left: 1px solid $gray-color;
          margin-top: -1px;
          margin-left: -1px;
          i:before {
            transform: rotate(180deg);
          }
          .dropdown {
            z-index: 99;
            opacity: 1;
          }
        }
      }
      &.date {
        position: relative;
        i {
          padding-top: 19px;
          font-size: 1.3rem;
        }

      }
      &.from + .to:not(.hidden) + .date {
        .rd-container {
          .rd-day-body {
            height: 22px;
          }
        }
      }
      &.search {
        border-right: none;
        background-color: $violet-color;
        color: $white-color;
        text-align: center;
        border-radius: 0 50px 50px 0;
        font-weight: 400;
        line-height: 56px;
        box-shadow: 0px -1px 12px 1px rgba(0, 0, 0, 0.24);
        i {
          padding-right: 11px;
        }
      }
      .input {
        position: absolute;
        width: 100%;
        height: 100%;
        background: none;
        color: inherit;
        font: inherit;
        padding-left: 15px;
        padding-right: 38px;
        &:focus {
          background-color: $white-color;
        }
      }
    }
  }
  .create-event {
    padding: 12px 0 0 48px;
    font-size: 1.2rem;
    display: block;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.pac-container {
  border-radius: 2px;
  background-color: #fafafa;
  box-shadow: 0px 9px 6px 3px rgba(0, 0, 0, 0.24);
  &:after {
    display: none;
  }
  .pac-item,
  .pac-item * {
    @extend .dropdown-item;
    .pac-icon {
      display: none;
    }
  }
  .pac-item {
    cursor: pointer;
    padding: 12px 5px 15px 12px;
    background-color: $white-color;
    &.pac-item-selected,
    &:hover,
    &:hover * {
      color: $violet-color;
      background-color: $light-gray-color;
    }
  }
}
