.textarea-wrapper {
  .textarea-title {
    opacity: 0.3;
    color: $violet-color;
    font-size: 0.9285rem;
    text-align: left;
    position: relative;
    z-index: -1;
  }
  .textarea {
    text-align: left;
    height: 75px;
    border-bottom: 2px solid $blue-color;
    font-size: 1.1428rem;
    line-height: 1.44;
    margin-top: 6px;
    overflow: auto;
    resize: none;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    color: inherit;
    font-size: 1.0rem;
  }
  .textarea-chars-left {
    text-align: right;
    color: $gray-color;
    font-size: 0.8571rem;
    padding-top: 8px;
  }
}
