$violet-color: #440381;
$yellow-color: #f7e506;
$blue-color: #4ad6ff;
$red-color: #dd1155;
$white-color: #ffffff;

$phone: 767px;     // 0...767
$medium: 1024px;   // 768..1023
$laptop: 1280px;   // 1024..1279
$notebook: 1366px; // 1280..1366
$hd: 1680px;       // 1367..1679
$fullhd: 1920px;   // 1680..1920
