$violet-color: #440381;
$yellow-color: #f7e506;
$blue-color: #4ad6ff;
$green-color: #95ba00;
$brown-color: #d99400;
$orrange-color: #ff4e00;
$red-color: #dd1155;
$white-color: #ffffff;
$black-color: #000000;
$gray-color: #cccccc;
$light-gray-color: #eeeeee;
$pink-color: #fd747a;

$phone: 767px;     // 0...767
$medium: 1024px;   // 768..1023
$laptop: 1280px;   // 1024..1279
$notebook: 1366px; // 1280..1366
$hd: 1680px;       // 1367..1679
$fullhd: 1920px;   // 1680..1920
