<div class="event swiper-slide video">
  <div class="picture" style="background-image: url('{{picture}}')">
    <svg xmlns="http://www.w3.org/2000/svg" width="1.5in" height="0.638889in" viewBox="0 0 108 46" class="label">
      <path fill="red"
            d="M 103.00,0.00
               C 103.00,0.00 99.00,9.00 99.00,9.00
                 111.15,14.90 110.04,33.84 94.00,39.15
                 87.07,41.45 72.20,41.53 65.00,39.99
                 65.00,39.99 52.42,36.46 52.42,36.46
                 49.41,36.56 47.29,40.39 41.00,42.21
                 31.00,45.10 20.07,40.77 12.00,35.00
                 8.65,39.68 5.27,43.51 0.00,46.00
                 0.00,46.00 0.00,0.00 0.00,0.00
                 0.00,0.00 103.00,0.00 103.00,0.00 Z"
       />
    </svg>
    <div class="event-category">
      Kino
    </div>
    <div class="event-open">
      <a href="#">Schaue</a>
    </div>
    <div class="event-title">
      Star Wars
    </div>
    <div class="author-avatar">
      <a href="#">
        <img src="img/home/avatar-01.png" alt="Author avatar" />
      </a>
    </div>
  </div>
  <div class="details">
    <div class="price-author">
      15€ mit Tina
    </div>
    <div class="date">
      17.09.-31.10.17
    </div>
    <div class="location">
      In Marburg
    </div>
  </div>
</div>
