<div class="wrapper search-wrapper">
  <div class="label">
    Event oder Reise suchen
  </div>
  <div class="filter-wrapper">
    <div class="filter-item category">
      Kategorie <i class="right fa fa-sort-desc"></i>
      <div class="dropdown">
        <div class="item">
          <a href="#">Category #1</a>
        </div>
        <div class="item">
          <a href="#">Category #2</a>
        </div>
        <div class="item">
          <a href="#">Category #3</a>
        </div>
        <div class="item">
          <a href="#">Category #4</a>
        </div>
        <div class="item">
          <a href="#">Category #5</a>
        </div>
        <div class="item">
          <a href="#">Category #6</a>
        </div>
      </div>
    </div>
    <div class="filter-item from">
      <input type="text" id="autocomplete-from" class="input fullwidth" value="" placeholder="From" />
      <i class="right fa fa-map-marker"></i>
    </div>
    <div class="filter-item to">
      <input type="text" id="autocomplete-to" class="input fullwidth" value="" placeholder="To" />
      <i class="right fa fa-map-marker"></i>
    </div>
    <div class="filter-item date">
      <input type="text" id="date" class="input" value="Datum" />
      <i class="right fa fa-calendar"></i>
    </div>
    <div class="filter-item search">
      <i class="fa fa-search"></i> Suchen
    </div>
  </div>
  <a href="#" class="create-event">
    Event erstellen
  </a>
</div>
