<div class="heading-2">
  Profil
</div>
<nav class="sidebar-menu">
  <div class="menu-item">
    <a href="#">Persönliche Daten ändern</a>
  </div>
  <div class="menu-item">
    <a href="#">Profilinformationen</a>
  </div>
  <div class="menu-item">
    <a href="#">Bestätigte Daten</a>
  </div>
</nav>

<div class="heading-2">
  Einstellungen
</div>
<nav class="sidebar-menu">
  <div class="menu-item">
    <a href="#" class="active">Benachrichtigungen</a>
  </div>
  <div class="menu-item">
    <a href="#">Zahlungsarten</a>
  </div>
  <div class="menu-item">
    <a href="#">Auszahlungspräferenzen</a>
  </div>
  <div class="menu-item">
    <a href="#">Zahlungsübersicht</a>
  </div>
  <div class="menu-item">
    <a href="#">Kontoneinstellungen</a>
  </div>
</nav>
