<div class="textarea-wrapper">
  <div class="textarea-title">{{label}}</div>
  <div class="textarea" contenteditable="true">
    {{value}}
  </div>
  <div class="textarea-chars-left">0/{{maxlength}}</div>
</div>
