<!DOCTYPE html>
<html lang="en">
  <head>
    {{> scripts title='Dashboard' }}
  </head>
  <body>
    {{> header }}
    <div class="dashboard">
      <div class="header">
        <div class="wrapper clear">
          <div class="avatar" style=""></div>
          <div class="profile-actions">
            <div class="text">Profil</div>
            <div class="heading-1">Bernd Franke</div>
            <div class="buttons clear">
              <a href="#" class="btn">Ansehen</a>
              <a href="#" class="btn">Bearbeiten</a>
            </div>
          </div>
        </div>
      </div>
      <div class="wrapper events-list clear">
        <div class="current">
          <div class="title">Anfragen und Nachrichten</div>
          <div class="event-item clear new">
            <div class="date">20.10.2017</div>
            <div class="avatar" style=""></div>
            <div class="info">
              <div class="state">
                Offene Anfrage
              </div>
              <div class="heading-2">
                Anfrage zu „Blade runner 2049“
              </div>
              <div class="message">
                Hallo, ich bin Mohammed und würde gerne mich. Lorem ipsum sit dolor
              </div>
            </div>
          </div>
          <div class="event-item clear active">
            <div class="info">
              <div class="heading-2">
                Bitte vervollständige dein Profil
              </div>
              <div class="message">
                Du hast noch kein Profilbild hinterlegt
              </div>
            </div>
          </div>
          <div class="event-item clear accepted">
            <div class="date">20.10.2017</div>
            <div class="avatar" style=""></div>
            <div class="info">
              <div class="state">
                Offene Anfrage
              </div>
              <div class="heading-2">
                Anfrage zu „Blade runner 2049“
              </div>
              <div class="message">
                Hallo, ich bin Mohammed und würde gerne mich. Lorem ipsum sit dolor
              </div>
            </div>
          </div>
          <div class="event-item clear declined">
            <div class="date">20.10.2017</div>
            <div class="avatar" style=""></div>
            <div class="info">
              <div class="state">
                Offene Anfrage
              </div>
              <div class="heading-2">
                Anfrage zu „Blade runner 2049“
              </div>
              <div class="message">
                Hallo, ich bin Mohammed und würde gerne mich. Lorem ipsum sit dolor
              </div>
            </div>
          </div>
          <div class="event-item clear accepted">
            <div class="date">20.10.2017</div>
            <div class="avatar" style=""></div>
            <div class="info">
              <div class="state">
                Offene Anfrage
              </div>
              <div class="heading-2">
                Anfrage zu „Blade runner 2049“
              </div>
              <div class="message">
                Hallo, ich bin Mohammed und würde gerne mich. Lorem ipsum sit dolor
              </div>
            </div>
          </div>
          <div class="event-item clear active">
            <div class="info">
              <div class="heading-2">
                Bitte verifiziere deine Daten
              </div>
              <div class="message">
                Hier steht ein zweizeiliger Blindtext. Lorem Ipsum set dolor. Bla und Blubb. Und so weiter…
              </div>
            </div>
          </div>
        </div>
        <div class="future">
          <div class="title">Deine anstehenden Events:</div>
          <div class="event-item clear">
            <div class="date">20.10.2017</div>
            <div class="info">
              <div class="heading-2">
                Bitte verifiziere deine Daten
              </div>
              <div class="message">
                Hier steht ein zweizeiliger Blindtext. Lorem Ipsum set dolor. Bla und Blubb. Und so weiter…
              </div>
            </div>
          </div>
          <div class="event-item clear">
            <div class="date">20.10.2017</div>
            <div class="info">
              <div class="heading-2">
                Bitte verifiziere deine Daten
              </div>
              <div class="message">
                Hier steht ein zweizeiliger Blindtext. Lorem Ipsum set dolor. Bla und Blubb. Und so weiter…
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{> footer }}
  </body>
</html>
