<!DOCTYPE html>
<html lang="en">
  <head>
    {{> scripts title='Profile settings' }}
  </head>
  <body>
    {{> header }}
    <div class="wrapper-small text-center event-review-total">
      <div class="heading-2">
        Gesamteindruck
      </div>
      <p class="text">
        Stocking A Commercial Kitchen Finding High Quality Cookware Online Stocking A Commercial Kitchen Finding High Quality Cookware Online
      </p>
      {{> rating progress="60%" type="" }}
      <div class="buttons">
        <a href="#" class="button violet-button">Weiter</a>
        <a href="#" class="button default-button">Abbrechen</a>
      </div>
    </div>
    {{> footer }}
  </body>
</html>
