<!DOCTYPE html>
<html lang="en">
  <head>
    {{> scripts title='Profile settings' }}
  </head>
  <body>
    {{> header }}
    <div class="wrapper text-center event-review">
      <div class="wrapper-small">
        <div class="heading-2">
          Details
        </div>
        <p class="text">
          Stocking A Commercial Kitchen Finding High Quality Cookware Online Stocking A Commercial Kitchen Finding High Quality Cookware Online
        </p>
      </div>
      <div class="categories clear">
        <div class="category">
          <div class="heading-4">
            Kategorie 1
          </div>
          {{> rating progress="0" type="" }}
        </div>
        <div class="category">
          <div class="heading-4">
            Kategorie 2
          </div>
          {{> rating progress="0" type="" }}
        </div>
        <div class="category">
          <div class="heading-4">
            Kategorie 3
          </div>
          {{> rating progress="0" type="" }}
        </div>
        <div class="category">
          <div class="heading-4">
            Kategorie 4
          </div>
          {{> rating progress="0" type="" }}
        </div>
      </div>
      <div class="wrapper-small">
        <div class="buttons">
          <a href="#" class="button violet-button">Weiter</a>
          <a href="#" class="button default-button">Abbrechen</a>
        </div>
      </div>
    </div>
    {{> footer }}
  </body>
</html>
