<!DOCTYPE html>
<html lang="en">
  <head>
    {{> scripts title='Event write request' }}
  </head>
  <body>
    {{> header }}
    <div class="event-proposals">
      {{> event-cover picture="img/covers/cinema.jpg" title="Blade Runner 2049" }}
      <div class="proposals-wrapper clear" style="background-color: #ffffff">
        <div class="wrapper">
          <div class="event-general">
            <div class="heading-2">Frankfurt, im Metropolis</div>
            <br/>
            <div class="heading-2">12.11.17</div>
            <br/>
            <div class="heading-2">12€</div>
            <br/>
            <br/>
            <br/>
            {{> textarea maxlength="120" label="Persönliche Nachricht an Tina" value="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam gravida venenatis accumsan. In mi massa, tempus" }}
            <div class="buttons clear">
              <a href="#" class="next violet-button">
                Anfragen
              </a>
              <a href="#" class="cancel">
                Abbrechen
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{> footer }}
  </body>
</html>
