<!DOCTYPE html>
<html lang="en">
  <head>
    {{> scripts title='Event general' }}
  </head>
  <body>
    {{> header }}
    <div class="event-proposals">
      {{> event-cover picture="img/covers/cinema.jpg" title="Blade Runner 2049" }}
      <div class="proposals-wrapper clear" style="background-color: #ffffff">
        <div class="wrapper">
          <div class="event-general">
            <div class="heading-2">Frankfurt, im Metropolis</div>
            <br/>
            <div class="heading-2">12.11.17</div>
            <br/>
            <div class="heading-2">12€</div>
            <br/>
            <br/>
            <br/>
            <div class="heading-2">Tina hat eine Sehbehinderung und benötigt Hilfe bei…</div>
            <br/>
            <div class="text">Orientierungshilfe in vollen oder hektischen Umgebungen.</div>
            <br/>
            <br/>
            <div class="heading-2">Generelle Infos</div>
            <br/>
            <div class="text">Treffpunkt 20h. An der Bushaltestelle "Am roten Graben".</div>
            <br/>
            <br/>
            <div class="buttons clear">
              <a href="#" class="next violet-button">
                Weiter
              </a>
              <a href="#" class="cancel">
                Abbrechen
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{> footer }}
  </body>
</html>
