<!DOCTYPE html>
<html lang="en">
  <head>
    {{> scripts title='Personal feedback' }}
  </head>
  <body>
    {{> header }}
    <div class="wrapper-small text-center">
      <div class="heading-2">
        Persönliches Feedback
      </div>
      <p class="text">
        Stocking A Commercial Kitchen Finding High Quality Cookware Online Stocking A Commercial Kitchen Finding High Quality Cookware Online
      </p>
      <div class="heading-4 adjustments-001">
        Nachricht an Eventersteller
      </div>
      <input type="text" class="input" name="message" value="" placeholder="Nachricht an Eventersteller" autofocus="" />
      <div class="buttons">
        <a href="#" class="button violet-button">Weiter</a>
        <a href="#" class="button default-button">Abbrechen</a>
      </div>
    </div>
    {{> footer }}
  </body>
</html>
