<!DOCTYPE html>
<html lang="en">
  <head>
    {{> scripts title='Event proposals' }}
  </head>
  <body>
    {{> header }}
    <div class="event-proposals">
      {{> event-cover picture="img/covers/cinema.jpg" title="Blade Runner 2049" }}
      <div class="proposals-wrapper clear">
        <svg xmlns="http://www.w3.org/2000/svg" class="curtain" viewBox="0 0 1919 373">
          <path fill="#ffffff" stroke="none"
            d="M 1919.00,0.00
               C 1919.00,0.00 1919.00,337.00 1919.00,337.00
                 1919.00,337.00 1894.00,316.43 1894.00,316.43
                 1894.00,316.43 1870.00,297.20 1870.00,297.20
                 1870.00,297.20 1841.00,274.43 1841.00,274.43
                 1806.68,249.90 1763.13,230.17 1723.00,217.34
                 1686.40,205.65 1637.34,196.94 1599.00,192.84
                 1571.10,189.85 1543.07,187.04 1515.00,187.00
                 1515.00,187.00 1498.00,186.00 1498.00,186.00
                 1498.00,186.00 1473.00,186.00 1473.00,186.00
                 1473.00,186.00 1461.00,186.96 1461.00,186.96
                 1461.00,186.96 1448.00,186.96 1448.00,186.96
                 1448.00,186.96 1423.00,188.91 1423.00,188.91
                 1388.48,191.27 1354.34,195.20 1320.00,199.72
                 1320.00,199.72 1274.00,206.25 1274.00,206.25
                 1274.00,206.25 1164.00,229.35 1164.00,229.35
                 1164.00,229.35 1106.00,242.88 1106.00,242.88
                 1106.00,242.88 923.00,294.57 923.00,294.57
                 923.00,294.57 868.00,307.88 868.00,307.88
                 868.00,307.88 794.00,325.88 794.00,325.88
                 757.13,334.63 720.30,344.85 683.00,351.58
                 645.62,358.32 607.82,362.50 570.00,365.09
                 570.00,365.09 547.00,367.00 547.00,367.00
                 547.00,367.00 538.00,367.00 538.00,367.00
                 538.00,367.00 526.00,368.00 526.00,368.00
                 526.00,368.00 449.00,368.00 449.00,368.00
                 449.00,368.00 439.00,367.00 439.00,367.00
                 439.00,367.00 431.00,367.00 431.00,367.00
                 431.00,367.00 374.00,361.17 374.00,361.17
                 374.00,361.17 331.00,356.72 331.00,356.72
                 252.12,346.34 167.66,323.94 96.00,289.26
                 96.00,289.26 23.00,252.54 23.00,252.54
                 18.11,249.89 3.59,243.04 1.17,238.82
                 -0.22,236.37 0.00,232.76 0.00,230.00
                 0.00,230.00 0.00,0.00 0.00,0.00
                 0.00,0.00 1919.00,0.00 1919.00,0.00 Z" />
        </svg>
        <div class="proposals-section single-category swiper-container _events-slider">
          <div class="heading-1">Frankfurt, im Metropolis 12.11.17</div>
          <div class="proposals swiper-wrapper clear">
            {{> proposal picture="img/home/event-01.jpg" }}
            {{> proposal picture="img/home/event-01.jpg" }}
            {{> proposal picture="img/home/event-01.jpg" }}
            {{> proposal picture="img/home/event-01.jpg" }}
            {{> proposal picture="img/home/event-01.jpg" }}
            {{> proposal picture="img/home/event-01.jpg" }}
            {{> proposal picture="img/home/event-01.jpg" }}
          </div>
        </div>
      </div>
    </div>
    {{> footer }}
  </body>
</html>
