<!DOCTYPE html>
<html lang="en">
  <head>
    {{> scripts title='Profile settings' }}
  </head>
  <body>
    {{> header }}
    <div class="wrapper-small text-center">
      <div class="heading-2">
        Event erstellen – Schritt 2
      </div>
      <p class="text">
        Bitte gib hier weitere Informationen zu deiner Reise an, um deine Chance auf einen Companion zu erhöhen
      </p>
      <div class="form clear">
        <div class="form-controll left w49p relative">
          <input type="text" class="input" id="date" name="date" value="" placeholder="Datum" />
        </div>
        <div class="form-controll right w49p relative">
          <input type="text" class="input" id="time" name="time" value="" placeholder="Uhrzeit" />
        </div>
      </div>
      <div class="buttons">
        <a href="#" class="button violet-button">Weiter</a>
        <a href="#" class="button default-button">Überspringen</a>
      </div>
    </div>
    {{> footer }}
  </body>
</html>
