<!DOCTYPE html>
<html lang="en">
  <head>
    {{> scripts title='Profile settings' }}
  </head>
  <body>
    {{> header }}
    <div class="wrapper-small text-center">
      <div class="heading-2">
        Event erstellen – Schritt 2
      </div>
      <p class="text">
        Bitte gib hier weitere Informationen zu deiner Reise an, um deine Chance auf einen Companion zu erhöhen
      </p>
      <div class="form">
        <div class="form-controll">
          <input type="text" class="input" id="autocomplete-from" name="departure" value="" placeholder="Start" />
        </div>
        <div class="form-controll">
          <input type="text" class="input" id="autocomplete-to" name="destination" value="" placeholder="Ziel" />
        </div>
        <div class="form-controll relative">
          <input type="text" class="input" name="transfers" value="" placeholder="0" />
          <div class="counter clear">
            <div class="circle-button left">
              <span>-</span>
            </div>
            <div class="circle-button left">
              <span>+</span>
            </div>
          </div>
        </div>
      </div>
      <div class="buttons">
        <a href="#" class="button violet-button">Weiter</a>
        <a href="#" class="button default-button">Überspringen</a>
      </div>
    </div>
    {{> footer }}
  </body>
</html>
