<!DOCTYPE html>
<html lang="en">
  <head>
    {{> scripts title='Event view' }}
  </head>
  <body>
    {{> header }}
    <div class="event-view">
      <div class="cover" style="background-image: url('img/event-view/cover.jpg')">
        <div class="spot red">Theater</div>
        <div class="text">Anfrage zu deinem Event:</div>
        <div class="title">
          Ich, ein Anfang
        </div>
        <div class="wrapper actions-wrapper">
          <div class="inner-wrapper clear">
            <div class="event-info">
              <div class="heading-2">Hallo ich bin Bernd</div>
              <div class="description">
                Postcards have been consistently one of the more popular collectibles
                and used as promotional materials
              </div>
              <div class="buttons clear">
                <a href="#" class="decline">Ablehnen</a>
                <a href="#" class="violet-button accept">Annehmen</a>
              </div>
            </div>
            <div class="user-avatar" style="background-image: url('img/home/avatar-01.png')">
              <i class="star" data-count="5"></i>
            </div>
            <div class="user-info">
              <div class="ttl">
                Profilinformationen
              </div>
              <p>
                <span class="text-bold">Bernd</span>, 24 Jahre, Aus Gießen
              </p>
              <p>
                <span class="text-bold">Sprachen</span>: Englisch, Deutsch
              </p>
              <a href="#" class="btn more-info">
                Mehr über Bernd erfahren
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="details-wrapper wrapper clear">
        <div class="ttl">Eventdaten</div>
        <div class="event-date">
          <div class="heading-2">
            Ich, ein Anfang
          </div>
          <div class="description">
            Postcards have been consistently one of the more popular collectibles and used as promotional materials…
          </div>
        </div>
        <div class="event-details">
          <span>Wetzlar, im Theater Soundso</span>
          <span>17.09.-31.10.17</span>
          <span>12€</span>
        </div>
      </div>
    </div>
    {{> footer }}
  </body>
</html>
