<!DOCTYPE html>
<html lang="en">
  <head>
    {{> scripts title='Home' }}
  </head>

  <body>
    {{> header }}

    <div class="home">
      <div class="cover">
        <div class="title">
          Events
        </div>
        {{> search-wrapper }}
      </div>
      <div class="events-wrapper clear">
        <div class="events-section">
          <div class="section-title">
            Top Events
          </div>
          <div class="events top">
            {{> event picture="img/home/event-01.jpg" }}
            {{> event picture="img/home/event-02.jpg" }}
            {{> event picture="img/home/event-03.jpg" }}
          </div>
        </div>
        <div class="events-section swiper-container events-slider">
          <div class="section-title clear wrapper">
            <div class="left">Kino und Theater</div>
            <a href="#" class="right">Alle anzeigen</a>
          </div>
          <div class="events swiper-wrapper">
            {{> event picture="img/home/event-01.jpg" }}
            {{> event picture="img/home/event-01.jpg" }}
            {{> event picture="img/home/event-01.jpg" }}
            {{> event picture="img/home/event-01.jpg" }}
            {{> event picture="img/home/event-01.jpg" }}
            {{> event picture="img/home/event-01.jpg" }}
            {{> event picture="img/home/event-01.jpg" }}
            {{> event picture="img/home/event-01.jpg" }}
            {{> event picture="img/home/event-01.jpg" }}
            {{> event picture="img/home/event-01.jpg" }}
          </div>
        </div>
        <div class="events-section swiper-container events-slider">
          <div class="section-title clear wrapper">
            <div class="left">Reisen</div>
            <a href="#" class="right">Alle anzeigen</a>
          </div>
          <div class="events swiper-wrapper">
            {{> event picture="img/home/event-02.jpg" }}
            {{> event picture="img/home/event-03.jpg" }}
            {{> event picture="img/home/event-02.jpg" }}
            {{> event picture="img/home/event-03.jpg" }}
            {{> event picture="img/home/event-02.jpg" }}
            {{> event picture="img/home/event-03.jpg" }}
            {{> event picture="img/home/event-02.jpg" }}
            {{> event picture="img/home/event-03.jpg" }}
            {{> event picture="img/home/event-02.jpg" }}
            {{> event picture="img/home/event-03.jpg" }}
            {{> event picture="img/home/event-02.jpg" }}
            {{> event picture="img/home/event-03.jpg" }}
          </div>
        </div>
        <div class="events-section swiper-container events-slider">
          <div class="section-title clear wrapper">
            <div class="left">Konzerte</div>
            <a href="#" class="right">Alle anzeigen</a>
          </div>
          <div class="events swiper-wrapper">
            {{> event picture="img/home/event-04.jpg" }}
            {{> event picture="img/home/event-05.jpg" }}
            {{> event picture="img/home/event-06.jpg" }}
            {{> event picture="img/home/event-04.jpg" }}
            {{> event picture="img/home/event-05.jpg" }}
            {{> event picture="img/home/event-06.jpg" }}
          </div>
        </div>
        <div class="events-section swiper-container events-slider">
          <div class="section-title clear wrapper">
            <div class="left">Sport</div>
            <a href="#" class="right">Alle anzeigen</a>
          </div>
          <div class="events swiper-wrapper">
            {{> event picture="img/home/event-07.jpg" }}
            {{> event picture="img/home/event-08.jpg" }}
            {{> event picture="img/home/event-09.jpg" }}
            {{> event picture="img/home/event-08.jpg" }}
            {{> event picture="img/home/event-07.jpg" }}
            {{> event picture="img/home/event-08.jpg" }}
            {{> event picture="img/home/event-09.jpg" }}
            {{> event picture="img/home/event-08.jpg" }}
            {{> event picture="img/home/event-07.jpg" }}
            {{> event picture="img/home/event-08.jpg" }}
            {{> event picture="img/home/event-09.jpg" }}
            {{> event picture="img/home/event-08.jpg" }}
          </div>
        </div>
        <div class="events-section swiper-container events-slider">
          <div class="section-title clear wrapper">
            <div class="left">Sonstiges</div>
            <a href="#" class="right">Alle anzeigen</a>
          </div>
          <div class="events swiper-wrapper">
            {{> event picture="img/home/event-10.jpg" }}
            {{> event picture="img/home/event-11.jpg" }}
            {{> event picture="img/home/event-12.jpg" }}
            {{> event picture="img/home/event-13.jpg" }}
            {{> event picture="img/home/event-10.jpg" }}
            {{> event picture="img/home/event-11.jpg" }}
            {{> event picture="img/home/event-10.jpg" }}
            {{> event picture="img/home/event-11.jpg" }}
            {{> event picture="img/home/event-12.jpg" }}
            {{> event picture="img/home/event-13.jpg" }}
            {{> event picture="img/home/event-10.jpg" }}
            {{> event picture="img/home/event-11.jpg" }}
          </div>
        </div>
      </div>
    </div>

    {{> footer }}
  </body>
</html>
