<!DOCTYPE html>
<html lang="en">
  <head>
    {{> scripts title='Home' }}
  </head>

  <body>
    {{> header }}

    <div class="home">
      <div class="cover">
        <div class="title">
          Events
        </div>
        <div class="wrapper search-wrapper">
          <div class="label">
            Event oder Reise suchen
          </div>
          <div class="filter-wrapper">

          </div>
          <a href="#" class="create-event">
            Event erstellen
          </a>
        </div>
      </div>
      <div class="events">

      </div>
    </div>

    {{> footer }}
  </body>
</html>
