<!DOCTYPE html>
<html lang="en">
  <head>
    {{> scripts title='Login with email' }}
  </head>
  <body>
    {{> header }}
    <div class="popup-wrapper opened">
      <div class="popup">
        <i class="close"></i>
        <div class="heading-2">
          Willkommen
        </div>
        <div class="registration-email ">
          <div class="register-form">
            <form action="" class="">
              <div class="clear">
                <div class="column left">
                  <div class="form-controll">
                    <input type="text" class="input" name="email" value="" placeholder="E-Mail-Adresse" />
                  </div>
                </div>
                <div class="column left">
                  <div class="form-controll">
                    <input type="password" class="input" name="password1" value="" placeholder="Passwort" />
                  </div>
                </div>
              </div>
              <div class="clear email-subscribe">
                <div class="left">
                  <input type="checkbox" id="remember-me" name="" />
                  <label for="remember-me">
                    <span>Denk an mich</span>
                  </label>
                </div>
                <div class="right">
                  <button type="submit" class="btn" name="">Einloggen</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {{> footer }}
  </body>
</html>
