<!DOCTYPE html>
<html lang="en">
  <head>
    {{> scripts title='Profile settings' }}
  </head>
  <body>
    {{> header }}
    <div class="profile-bills wrapper clear">
      <div class="sidebar">
        {{> sidebar-menu }}
      </div>
      <div class="content">
        <div class="heading-2">
          Rechnungen
        </div>
        <div class="table">
          <div class="table-row clear">
            <div class="left">
              00.00.0000 – Nr. 0005
            </div>
            <div class="right">
              <a href="#" class="fa fa-download"></a>
            </div>
          </div>
          <div class="table-row clear">
            <div class="left">
              00.00.0000 – Nr. 0004
            </div>
            <div class="right">
              <a href="#" class="fa fa-download"></a>
            </div>
          </div>
          <div class="table-row clear">
            <div class="left">
              00.00.0000 – Nr. 0003
            </div>
            <div class="right">
              <a href="#" class="fa fa-download"></a>
            </div>
          </div>
          <div class="table-row clear">
            <div class="left">
              00.00.0000 – Nr. 0002
            </div>
            <div class="right">
              <a href="#" class="fa fa-download"></a>
            </div>
          </div>
          <div class="table-row clear">
            <div class="left">
              00.00.0000 – Nr. 0001
            </div>
            <div class="right">
              <a href="#" class="fa fa-download"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{> footer }}
  </body>
</html>
