<!DOCTYPE html>
<html lang="en">
  <head>
    {{> scripts title='Personal data' }}
  </head>
  <body>
    {{> header }}
    <div class="profile-settings wrapper clear">

      <div class="popup-wrapper opened">
        <div class="popup adjustments-003">
          <i class="close"></i>
          <div class="heading-2">Wollen Sie Ihren Account wirklich deaktivieren?</div>
          <div class="text">
            There are numerous success stories you will hear about businesses making it good on the internet.
            The troubling thing is, there are maybe a tenfold or even a hundredfold of stories inconsistent
            to theirs. Many have unsuccessfully launched a business venture that is internet based but only a
            handful shall succeed.
          </div>
          <div class="popup-body">
            <div class="buttons clear">
              <a href="#" class="violet-button">Account behalten</a>
              <a href="#" class="skip">Deaktivieren (unwiederruflich)</a>
            </div>
          </div>
        </div>
      </div>

      <div class="sidebar">
        {{> sidebar-menu }}
      </div>
      <div class="content">
        <div class="settings-section">
          <div class="heading-2">
            Kontoeinstellungen
          </div>
          <div class="description">
            Roman chamomile is mainly grown in England, and there are some areas in continental
            Europe and the United States that also distill the oil. In 1785, Carlo Allioni, an
            Italian botanist, placed what we know as Roman chamomile.
          </div>
        </div>
        <div class="settings-section">
          <div class="heading-2">
            Passwort ändern
          </div>
          <form action="">
            <div class="form-row clear">
              <div class="form-controll left">
                <input type="text" class="input" value="" placeholder="Altes Passwort" />
              </div>
            </div>
            <div class="form-row clear">
              <div class="form-controll left">
                <input type="text" class="input" value="" placeholder="Neues Passwort" />
              </div>
              <div class="form-controll right">
                <input type="text" class="input" value="" placeholder="Neues Passwort" />
              </div>
            </div>
          </form>
        </div>
        <div class="settings-section">
          <a href="#" class="edit">Daten ändern</a>
        </div>
        <div class="settings-section clear">
          <a href="#" class="edit left">Abbrechen</a>
          <a href="#" class="violet-button right">Speichern</a>
        </div>
        <div class="settings-section">
          <div class="heading-2">
            Account deaktivieren
          </div>
          <div class="description">
            Roman chamomile is mainly grown in England, and there are some areas in
            continental Europe.
          </div>
        </div>
        <div class="settings-section">
          <a href="#" class="edit">Deaktivieren</a>
        </div>
      </div>
    </div>
    {{> footer }}
  </body>
</html>
