<!DOCTYPE html>
<html lang="en">
  <head>
    {{> scripts title='Einloggen' }}
  </head>
  <body>
    {{> header }}
    <div class="registration-complete popup-wrapper opened">
      <div class="popup">
        <i class="close"></i>
        <div class="heading-2">
          Bestätigung – Erfolgreich registriert
        </div>
        <p class="text">
          Philosophy is considered a science but it is difficult to say, when one has to compare with an ordinary science, for example biology, or chemistry.
        </p>
        <div class="checkbox">
          <img src="img/icons/checkbox-big.png" alt="Completed" />
        </div>
        <div class="buttons clear">
          <a href="#" class="violet-button">Events suchen</a>
          <a href="#" class="main-profile">Mein Profil</a>
        </div>
      </div>
    </div>
    {{> footer }}
  </body>
</html>
