<!DOCTYPE html>
<html lang="en">
  <head>
    {{> scripts title='Registrieren' }}
  </head>
  <body>
    {{> header }}
    <div class="registration-switch popup-wrapper opened">
      <div class="popup">
        <i class="close"></i>
        <div class="heading-2">
          Registrieren
        </div>
        <div class="register-options">
          <a href="#" class="btn facebook">
            Mit Facebook anmelden
          </a>
          <a href="#" class="btn google">
            Mit Google anmelden
          </a>
          <a href="#" class="btn email">
            Mit E-Mail-Adresse
          </a>
        </div>
        <div class="hr"></div>
        <div class="already-registered"><span>Hast du schon ein Konto?</span> <a href="#" class="text-bold">Einloggen</a></div>
      </div>
    </div>
    {{> footer }}
  </body>
</html>
