<!DOCTYPE html>
<html lang="en">
  <head>
    {{> scripts title='Select avatar' }}
  </head>
  <body>
    {{> header }}
    <div class="register-avatar wrapper-small text-center">
      <div class="heading-2">
        Fast geschafft!
      </div>
      <p class="text">
        Wir haben eine Bestätigungsmail an [E-Mail-Adresse] geschickt. Bitte klicke
        den Link um deine E-Mail-Adresse zu bestätigen.
      </p>
    </div>
    {{> footer }}
  </body>
</html>
