<!DOCTYPE html>
<html lang="en">
  <head>
    {{> scripts title='Registrieren Interessen' }}
  </head>
  <body>
    {{> header }}
    <div class="registration-interests">
      <div class="heading-3">Interessen</div>
      <p class="text">Wähle hier deine Interessen aus, um individuelle Vorschläge zu erhalten</p>
      <div class="sections">
        <div class="section cinema clear">
          <div class="cover" style="background-image: url('img/interests/cinema-01.jpg')"></div>
          <div class="label left">
            Kino und Theater
          </div>
          <div class="items left clear">
            <div class="item">
              <input type="checkbox" id="cinema-1" />
              <label for="cinema-1">Kino</label>
              <div class="picture" style="background-image: url('img/interests/cinema-01.jpg')">
              </div>
            </div>
            <div class="item">
              <input type="checkbox" id="cinema-2" />
              <label for="cinema-2">Theater</label>
              <div class="picture" style="background-image: url('img/interests/cinema-02.jpg')">
              </div>
            </div>
            <div class="item">
              <input type="checkbox" id="cinema-3" />
              <label for="cinema-3">Freiluftkino</label>
              <div class="picture" style="background-image: url('img/interests/cinema-03.jpg')">
              </div>
            </div>
            <div class="item">
              <input type="checkbox" id="cinema-4" />
              <label for="cinema-4">Public Viewing</label>
              <div class="picture" style="background-image: url('img/interests/cinema-04.jpg')">
              </div>
            </div>
          </div>
        </div>

        <div class="section journey clear">
          <div class="cover" style="background-image: url('img/interests/cinema-02.jpg')"></div>
          <div class="label left">
            Reise
          </div>
          <div class="items left clear">
            <div class="item">
              <input type="checkbox" id="journey-1" />
              <label for="journey-1">Kino</label>
              <div class="picture" style="background-image: url('img/interests/cinema-01.jpg')">
              </div>
            </div>
            <div class="item">
              <input type="checkbox" id="journey-2" />
              <label for="journey-2">Theater</label>
              <div class="picture" style="background-image: url('img/interests/cinema-02.jpg')">
              </div>
            </div>
          </div>
        </div>

        <div class="section sport clear">
          <div class="cover" style="background-image: url('img/interests/cinema-03.jpg')"></div>
          <div class="label left">
            Sport
          </div>
          <div class="items left clear">
            <div class="item">
              <input type="checkbox" id="sport-1" />
              <label for="sport-1">Kino</label>
              <div class="picture" style="background-image: url('img/interests/cinema-01.jpg')">
              </div>
            </div>
            <div class="item">
              <input type="checkbox" id="sport-2" />
              <label for="sport-2">Theater</label>
              <div class="picture" style="background-image: url('img/interests/cinema-02.jpg')">
              </div>
            </div>
            <div class="item">
              <input type="checkbox" id="sport-3" />
              <label for="sport-3">Kino</label>
              <div class="picture" style="background-image: url('img/interests/cinema-03.jpg')">
              </div>
            </div>
            <div class="item">
              <input type="checkbox" id="sport-4" />
              <label for="sport-4">Theater</label>
              <div class="picture" style="background-image: url('img/interests/cinema-04.jpg')">
              </div>
            </div>
            <div class="item">
              <input type="checkbox" id="sport-5" />
              <label for="sport-5">Kino</label>
              <div class="picture" style="background-image: url('img/interests/cinema-01.jpg')">
              </div>
            </div>
            <div class="item">
              <input type="checkbox" id="sport-6" />
              <label for="sport-6">Theater</label>
              <div class="picture" style="background-image: url('img/interests/cinema-02.jpg')">
              </div>
            </div>
            <div class="item">
              <input type="checkbox" id="sport-7" />
              <label for="sport-7">Kino</label>
              <div class="picture" style="background-image: url('img/interests/cinema-01.jpg')">
              </div>
            </div>
            <div class="item">
              <input type="checkbox" id="sport-8" />
              <label for="sport-8">Theater</label>
              <div class="picture" style="background-image: url('img/interests/cinema-02.jpg')">
              </div>
            </div>
            <div class="item">
              <input type="checkbox" id="sport-9" />
              <label for="sport-9">Kino</label>
              <div class="picture" style="background-image: url('img/interests/cinema-01.jpg')">
              </div>
            </div>
            <div class="item">
              <input type="checkbox" id="sport-10" />
              <label for="sport-10">Theater</label>
              <div class="picture" style="background-image: url('img/interests/cinema-02.jpg')">
              </div>
            </div>
          </div>
        </div>

        <div class="section misc clear">
          <div class="cover" style="background-image: url('img/interests/cinema-04.jpg')"></div>
          <div class="label left">
            Sonstiges
          </div>
          <div class="items left clear">
            <div class="item">
              <input type="checkbox" id="misc-1" />
              <label for="misc-1">Kino</label>
              <div class="picture" style="background-image: url('img/interests/cinema-01.jpg')">
              </div>
            </div>
            <div class="item">
              <input type="checkbox" id="misc-2" />
              <label for="misc-2">Theater</label>
              <div class="picture" style="background-image: url('img/interests/cinema-02.jpg')">
              </div>
            </div>
            <div class="item">
              <input type="checkbox" id="misc-3" />
              <label for="misc-3">Kino</label>
              <div class="picture" style="background-image: url('img/interests/cinema-03.jpg')">
              </div>
            </div>
            <div class="item">
              <input type="checkbox" id="misc-4" />
              <label for="misc-4">Theater</label>
              <div class="picture" style="background-image: url('img/interests/cinema-04.jpg')">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="buttons">
        <a href="#" class="violet-button">Weiter</a>
      </div>
    </div>
    {{> footer }}
  </body>
</html>
